.forrester-waves-container

  <!–– Gartner VSDP Market Guide 2020 ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "Gartner VSDP Market Guide png", loading: 'lazy'
    .wave-row-content
      %img.gartner-logo{ src: "/images/home/gartner-logo.svg", alt: "Gartner logo svg", loading: 'lazy' }
      .text-center.forrester-graphic-title
        %p Gartner VSDP Market Guide 2020
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-arovotc20{ href: '/analysts/gartner-vsdp20' } Read more

  <!–– Gartner VotC ARO 2020 ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "GitLab Voice of the Customer ARO 2020 png", loading: 'lazy'
    .wave-row-content
      %img.gartner-logo{ src: "/images/home/gartner-logo.svg", alt: "Gartner logo svg", loading: 'lazy' }
      .text-center.forrester-graphic-title
        %p Gartner ARO VotC 2020
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-arovotc20{ href: '/analysts/gartner-votc20' } Read more

  <!–– Forrester CDRA 2020 ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "GitLab CDRA Forrester Wave 2020 thumbnail png", loading: 'lazy'
    .wave-row-content
      = image_tag "/images/home/forrester-logo.png", class: "forrester-logo", alt: "Forrester logo png", loading: 'lazy'
      .text-center.forrester-graphic-title
        %p CDRA Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/forrester-cdra20/' } Read more

  <!–– Gartner ARO 2019 ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "GitLab Cloud CI Forrester Wave thumbnail png" , loading: 'lazy'
    .wave-row-content
      %img.gartner-logo{ src: "/images/home/gartner-logo.svg", alt: "Gartner logo svg", loading: 'lazy' }
      .text-center.forrester-graphic-title
        %p ARO Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/gartner-aro19/' } Read more

  <!–– Forrester Cloud CI ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "GitLab Cloud CI Forrester Wave thumbnail png", loading: 'lazy'
    .wave-row-content
      = image_tag "/images/home/forrester-logo.png", class: "forrester-logo", alt: "Forrester logo png", loading: 'lazy'
      .text-center.forrester-graphic-title
        %p Cloud CI Wave Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-ci{ href: '/analysts/forrester-cloudci19/' } Read more

  <!–– Forrester CI ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "GitLab ci cd forrester wave thumbnail png", loading: 'lazy'
    .wave-row-content
      = image_tag "/images/home/forrester-logo.png", class: "forrester-logo", alt: "Forrester logo png", loading: 'lazy'
      .text-center.forrester-graphic-title
        %p CI Wave Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-ci{ href: '/analysts/forrester-ci/' } Read more

  <!–– Gartner EAPT ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "Gartner magic quadrant graphic", loading: 'lazy'
    .wave-row-content
      = image_tag "/images/home/gartner-logo.svg", class: "gartner-logo", alt: "Gartner logo svg", loading: 'lazy'
      .text-center.forrester-graphic-title
        %p EAPT Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/gartner-eapt/' } Read more

  <!–– Gartner ARO ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "Gartner magic quadrant graphic", loading: 'lazy'
    .wave-row-content
      = image_tag "/images/home/gartner-logo.svg", class: "gartner-logo", alt: "Gartner logo svg", loading: 'lazy'
      .text-center.forrester-graphic-title
        %p ARO Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/gartner-aro/' } Read more

  <!–– Forrester CDRA ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "Forrester wave graphic", loading: 'lazy'
    .wave-row-content
      = image_tag "/images/home/forrester-logo.png", class: "gartner-logo", alt: "Forrester logo png", loading: 'lazy'
      .text-center.forrester-graphic-title
        %p CDRA Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/forrester-cdra/' } Read more

  <!–– Forrester SCA ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "Forrester wave graphic", loading: 'lazy'
    .wave-row-content
      = image_tag "/images/home/forrester-logo.png", class: "gartner-logo", alt: "Forrester logo png", loading: 'lazy'
      .text-center.forrester-graphic-title
        %p SCA Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/forrester-sca/' } Read more


  <!–– IDC Innovator ––>
  .forrester-wave-row
    .wave-row-content
      = image_tag "/images/analysts/report-skeleton.png", class: "forrester-wave-graphic", alt: "IDC innovator 2018 graphic png", loading: 'lazy'
    .wave-row-content
      = image_tag "/images/home/idc-logo.svg", class: "idc-logo", alt: "IDC logo svg", loading: 'lazy'
      .text-center.forrester-graphic-title
        %p IDC Innovators Report
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-idc{ href: '/analysts/idc-innovators/' } Read more
